<!DOCTYPE html>

<html>

  <head>

    <title>Find Your Cause</title>
  <link rel = "style" href="final_project/css/style.css">
  </head>

  <body>
<h3>Please enter name to begin!</h3>
<form method=POST>
  <input type= "text" name = "the_user">
  <br>
  <input type = "submit" value = "enter">
  </body>

</html>

